.left_bar {
  height: 100%;
  min-width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-left-bar);
  text-align: center;
  padding: var(--space-m);
  overflow: auto;
}

.left_bar a {
  overflow: auto;
}

.left_bar h1 {
  padding: 10px;
  color: white;
}